##############################
# Build folders
##############################

**/bin/
**/obj/

##############################
# Visual Studio / VS Code
##############################

.vs/
.vscode/

##############################
# Rider
##############################

.idea/

##############################
# macOS
##############################

.DS_Store

##############################
# Logs
##############################

logs/
*.log

##############################
# User files
##############################

*.user
*.suo

##############################
# Test Results
##############################

TestResults/

##############################
# NuGet
##############################

*.nupkg

##############################
# Publish
##############################

publish/

##############################
# Temporary files
##############################

*.tmp
*.tempsrc.zip
